.eid{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-color: blanchedalmond;
    color: rgb(173, 9, 119);
    width: 500px;
    height: 100px;
    padding: 50px;
    margin: 0 auto;
}
.eid-img {
   width: 400px;
   
  
    
}
